<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->
    <bean id="draw2dBean" class="com.beanScopes.Draw2d" />
    <bean id="draw3dBean" class="com.beanScopes.Draw3d" />

    <bean id="myCircle" class="com.beanScopes.Circle">
        <constructor-arg ref="draw3dBean"/>
        <constructor-arg ref="draw2dBean"/>

    </bean>


    <bean id="mySquare" class="com.beanScopes.Square" scope="prototype" >
        <property name="draw2d"  ref="draw2dBean"/>
        <property name="draw3d"  ref="draw3dBean"/>

    </bean>



</beans>





