<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define your beans here -->
    <bean id="drawBean3d" class="dependencyInjection.Draw3d">
    </bean>
    <bean id="drawBean2d" class="dependencyInjection.Draw2d">
    </bean>

    <bean id="myCircle" class="dependencyInjection.Circle">
        <constructor-arg ref="drawBean2d" />
        <constructor-arg ref="drawBean3d" />
    </bean>

    <bean id="mySquare" class="dependencyInjection.Square">
        <property name="draw2d" ref="drawBean2d" />
        <property name="draw3d" ref="drawBean3d" />
    </bean>

</beans>





